<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-4 px-sm-0 mx-auto text-center">
      <div class="alert alert-info mb-3" role="alert">
        <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
      </div>
      
      <%= form_with model: @customer, url: admin_customer_path, method: :PATCH do |f| %>
      <div class="form-body p-4">
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-3">氏名</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "名字" %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "名前" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-3">フリガナ</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-3">郵便番号</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "col-7" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-3">住所</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-7" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-3">電話番号</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "col-7" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-3">メールアドレス</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-7" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-3">会員ステータス</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.select :is_deleted, {"退会": "true", "有効": "false"},{}, class: "col-7" %>
        </div>
        
      </div>
      <div class="text-center">
        <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
      </div>
      <% end %>
    </div>  
  </div>
</div>
