<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-3 alert alert-info mb-3 mx-auto text-center" role="alert">
      <h4>配送先新規登録</h4>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-10 mt-4 mx-auto">
      
      <%= form_with model: @address do |f| %>
      <div class="form-body py-4">
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-5 text-center">郵便番号(ハイフンなし)</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000", class: "col-3" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-5 text-center">住所</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :addresses, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: "col-6" %>
        </div>
        
        <div class="input-group flex-nowrap mb-4">
          <label class="form-label mb-0 col-5 text-center">宛名</label>
          <span class="input-group-text"><i class="fas fa-plus"></i></span>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "令和道子", class: "col-3" %>
        </div>
        
      </div>
      <div class="text-center pr-4">
        <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
      </div>

      <% end %>
    </div>  

    <div class="col-sm-12 col-md-8 col-lg-12 mt-4 mx-auto text-center">
      <div class="alert alert-info mb-3" role="alert">
        <h4>配送先登録一覧</h4>
      </div>
      
      <table class="table table-bordered border-info">
        <thead>
          <tr>
            <th class="col-2 table-secondary">郵便番号</th>
            <th class="col-5 table-secondary">住所</th>
            <th class="col-2 table-secondary">宛名</th>
            <th class="col-3 table-secondary"></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.addresses %></td>
            <td><%= address.name %></td>
            <td>
              <span class="text-center pr-1">
                <%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
              </span>
              <span class="text-center">
                <%= link_to "削除する", address_path(address), method: :DELETE, class: "btn btn-danger" %>
              </span>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</div>
