<div class="unsubscribe"></div>
<p id="notice"></p>
<div class="container">
  <div class="row pt-4">
    
    <div class="col-sm-12 col-lg-6">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "500x400" %>
  　　<% else %>
  　　    <%= image_tag 'no_image', size: "200x200" %>
  　　<% end %>
    </div>
    
    <div class="col-sm-12 col-lg-6 font-weight-bold">
      <h1><%= @item.name %></h1>
      <h3><%= @item.introduction %></h3>
      <h3><%= @item.with_tax_price %>円(税込)</h3>
      <div class="pt-4">
        <%= form_with model: @cart_item, url: cart_items_path, method: :POST do |f| %>
        <span>
          <%= f.hidden_field :item_id, value: @item.id %>
        </span>
        <span class="pr-4">
          <%= f.select :amount, { "1個": 1, "2個": 2, "3個": 3, "4個": 4, "5個": 5, "6個": 6, "7個": 7, "8個": 8, "9個": 9},prompt: "個数選択" %>
        </span>
        <span class="">
          <%= f.submit "カートに入れる", class: "btn btn-success btn-lg" %>
        </span>
        <% end %>
      </div>
    </div>
    
  </div>
</div>